<!-- <div *ngFor="let product of product"> -->
<mat-card *ngIf="product" class="mt-6">
  <div class="flex items-center">
    <img class="mb-1 h-[280px]" src="{{ product.image }}" />
    <div class="ml-20 mb-5">
      <h1>{{ product.title }}</h1>
      <p>
        {{ product.description }}
      </p>
      <p>Kolor: {{ product.color }}</p>
      <p>Model:</p>
      <p>Rozmiar: {{ product.size }}</p>
      <p>Typ: {{ product.type }}</p>
      <p>Ilosc: {{ product.productCount }}</p>
    </div>

    <div class="ml-20">
      <span class="flex justify-end text-red-400 mb-5 mr-5 text-4xl">
        {{ product.price + " zł/dzień" }}
      </span>
      <div class="mb-5">
        <button mat-raised-button [routerLink]="['/details',product.id]">Szczegóły</button>
      </div>
      <!-- event dodawania do koszyka -->
      <button mat-raised-button (click)="onAddToCart()">
        Dodaj do koszyka
      </button>
    </div>
  </div>
</mat-card>
<!-- </div> -->
<!-- </div> -->
