<mat-card>
  <div class="flex justify-between">
    <div class="flex items-center">
      <img class="mb-1 h-[300px]" src="http://via.placeholder.com/150" />
      <div class="ml-20 mb-40">
        <h1>Rower MTB 2020</h1>
        <p class="">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quisquam
          cumque, in repellat vitae omnis possimus consequuntur distinctio
          tempora fuga quas dolorum laborum quaerat itaque, et tempore, soluta
          harum beatae. Eaque!
        </p>
      </div>
    </div>
  </div>
</mat-card>
