<mat-card class="mb-4">
  <div class="flex justify-between">
    <div class="flex items-center">
      <mat-form-field class="mr-5 w-60">
        <mat-label>Wyszukaj rower</mat-label>
        <input matInput #message placeholder="Podaj nazwę roweru" />
      </mat-form-field>
      <button mat-button [matMenuTriggerFor]="sortBycena">
        Sortuj po cenie {{ sort }}
      </button>
      <mat-menu #sortBycena="matMenu">
        <button (click)="onSortUpdated('desc')" mat-menu-item>Rosnaco</button>
        <button (click)="onSortUpdated('asc')" mat-menu-item>Malejaco</button>
      </mat-menu>
      <button mat-button [matMenuTriggerFor]="sortBytyp">
        Filtruj po typie
      </button>

      <!-- Sortowanie po typie -->
      <mat-menu #sortBytyp="matMenu">
        <mat-selection-list [multiple]="false">
          <mat-list-option *ngFor="let type of types" [value]="type">
            <button (click)="onShowType(type)">{{ type }}</button>
          </mat-list-option>
        </mat-selection-list>
      </mat-menu>
      <button (click)="onClearFilters()" mat-button>Wyczyść filtrowanie</button>
    </div>
  </div>
</mat-card>
